.first-content{
    width: 950px;
}


@media(max-width: 768px){
    .first-content{
        width: 410px;
    }
    aside{
        width: 200px;
    }
    .banner{
        width: 100%;
        
    }
}
#banner{
    padding: 0 50px;
    background-image: url(img/bordes.png);
    height: 55vh;
    background-size: cover;
    background-position: center;
}
.tipos-de-bordes,
.linea,
.third-seccion,
.fourth-seccion,
.fifth-seccion{
    margin-left: 2%;
    margin-right: 2%;
} 
